<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8"/>
    <title>Registration</title>
    <link th:href="@{~/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{~/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="employee/create" class="btn btn-success" role="button">Dodaj pacjenta</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table-striped">
                <thead>
                <th>Nazwisko</th>
                <th>Adres</th>
                <th></th>
                <th></th>
                </thead>
                <tbody>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.personalData.name} + ' ' + ${employee.personalData.surname}"></td>
                    <td th:text="${employee.personalData.address}"></td>
                    <td>
                        <a th:href="'patient/edit?id=' + ${employee.id}" class="btn btn-info" role="button">Edytuj</a>
                    </td>
                    <td>
                        <a th:href="'patient/remove?id=' + ${employee.id}" class="btn btn-danger" role="button">Usuń</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script th:src="@{~/jquery/jquery-3.2.1.min.js}"></script>
    <script th:src="@{~/bootstrap/js/bootstrap.min.js}"></script>
</div>
</body>
</html>